<!DOCTYPE html>
<html>
   <head>
       
   </head> 
    <body>
      <p>YOu have received a message from site's contats form <%= "#{@name}, #{@email}." %></p>
      <p><%= @body %></p>
    </body>
</html>

